<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true" internalLogLevel="Error"
	  internalLogFile="internalLog.txt"
	  internalLogToConsole="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<target name="VSGBulgariaMarketplace" xsi:type="Database"
			dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
			connectionString="${configsetting:name=ConnectionStrings.DefaultConnection}"
			commandText="	INSERT INTO [Logs] ([Level], [CallSite], [Type], [Message], [StackTrace], [InnerException], [AdditionalInfo], [LoggedOnDatetimeUtc]) 
							VALUES (@level, @callSite, @type, @message, @stackTrace, @innerException, @additionalInfo, GETUTCDATE())">
			<parameter name="@level" layout="${level}" />
			<parameter name="@callSite" layout="${callsite}" />
			<parameter name="@type" layout="${exception:format=type}" />
			<parameter name="@message" layout="${exception:format=message}" />
			<parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
			<parameter name="@innerException"
                        layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
			<parameter name="@additionalInfo" layout="${message}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Error" writeTo="VSGBulgariaMarketplace" />
	</rules>
</nlog>